@media (min-width: 768px) {
  .containerWide {
    max-width: calc(648px + 2rem);
  }
  .container {
    max-width: calc(648px + 2rem);
  }

  h1.redGradient {
    margin-top: 60px;
    font-size: 38px;
    line-height: 46px;
  }

  .wrapper {
    justify-content: space-between;
    margin-top: 60px;
    gap: 60px;
  }
  .card > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .card {
    flex: 0 1 45%;
  }
  .wrapper {
    justify-content: space-between;
    gap: 30px;
  }
  p.name > span {
    display: none;
  }
}
@media (min-width: 1024px) {
  .containerWide {
    max-width: calc(904px + 2rem);
  }
  .container {
    max-width: calc(904px + 2rem);
  }
  h1.redGradient {
    margin: 0 120px;
  }
  .card {
    flex: 0 1 31%;
  }
}

@media (min-width: 1440px) {
  .containerWide {
    max-width: calc(1320px + 2rem);
  }
  .container {
    max-width: calc(1320px + 2rem);
  }
}

@media (min-width: 1920px) {
  .containerWide {
    max-width: calc(1600px + 2rem);
  }
  .container {
    max-width: calc(1600px + 2rem);
  }
}
